%meta{:property => "og:title", :content => "Visa Mapper"}
%meta{:property => "og:description", :content => "Find Visa-free travel destinations"}
%meta{:property => "og:type", :content => "website"}
%meta{:property => "og:url", :content => "http://www.visamapper.com"}
%meta{:property => "og:image", :content => "http://www.visamapper.com/images/worldmap-icon.jpg"}
%meta{:property => "fb:app_id", :content => "279248308803686"}
%meta{:itemprop => "name", :content => "Visamapper"}
%meta{:itemprop => "description", :content => "Find Visa-free travel destinations."}
%meta{:itemprop => "image", :content => "http://www.visamapper.com/images/worldmap-icon.jpg"}
