%script{:type => "text/javascript", :src => "/javascripts/jquery-1.5.1.min.js"}
%script{:type => "text/javascript", :src => "/javascripts/jquery.vector-map.js"}
%script{:type => "text/javascript", :src => "/javascripts/world-en.js"}
%script{:type => "text/javascript", :src => "/javascripts/application.js"}
%script{:type => "text/javascript", :src => "/javascripts/underscore-min.js"}
%script{:type => "text/javascript", :src => "/javascripts/bootstrap-dropdown.js"}
%script{:type => "text/javascript", :src => "/javascripts/bootstrap-modal.js"}
%script{:type => "text/javascript", :src => "/javascripts/submit-data.js"}
%script{:type => "text/javascript", :src => "/javascripts/geolocation.js"}
= include_stylesheets :common, :media => 'all' 
